<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find my home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="navbar5">
            <a href="/Index">Home</a>
            <a href="/AboutUs">AboutUs</a>
            <a href="/Help">Help</a>
            <div class="dropdown5">
                <button class="dropbtn5">
                    Admin
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content5">
                    <a href="/Dwellings/Index">Dwelling</a>
                    <a href="/Agents/Index">Agent</a>
                    <a href="/SalesOffices/Index">Sales office</a>
                    <a href="/Cities/Index">City</a>
                </div>
            </div>
            <a href="/Login" style="float:right">Login/SignUp</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Quick Nav</h1>
                    <ul id="quickNav">
                        <li><a href="/AboutUs" title="">About Us</a></li>
                        <li><a href="/Help" title="Find Help">Help</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h1>Contact</h1>
                    <p>
                        2389 Euclid Avenue<br />
                        Cincinnati, OH 45219
                    </p>
                </div>
                <div class="col-sm">
                    <h1>Call us at</h1>
                    <p>+1 (513) 208 9495</p>
                </div>
            </div>
        </div>

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
