@page
@model RealEstatePMP.Pages.AboutUsModel
@{
}

<div class="container">
    <h1>Our team</h1>
    <p>FindMyHome® was founded in 1956 by Priyanka Vishwanathan and is the country’s largest agent-owned real estate firm, consistently recognized as one of the most innovative, technologically advanced, and award-winning firms in the country. Priyanka was recognized nationally and internationally as one of the pioneers and innovators of the real estate industry and embodied the true entrepreneurial spirit. Her company was started in the basement of his Upper Arlington home, and it quickly grew to become the number one company in the region by 1964 and remains number one to this day. Today, FindMyHome® is still a growing company. We have nearly 1,250 associates and over 90 offices. Our offices are spread throughout Ohio and Northern Kentucky.</p>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Priyanka Viswanatha </h2>
            <h3>Founder</h3>
            <img src="Images/priyanka.png" alt="Founder-Priyanka Image" style="height: 300px; width: 300px;">
            <p>Priyanka Viswanatha is the core founder of the company. Graduated from Harvard Business School with a Masters in Business Administration, she brought an idea of a company to life and worked hard for its success. She is an inspiration and a leader, working with whom makes any company successful. You can contact Priyanka via <a href="mailto:viswanvk@findmyhome.com">email ID</a></p>



        </div>
        <div class="col-md-4">
            <h2>Prakhar</h2>
            <h3>CEO</h3>
            <img src="Images/prakhar.png" alt="CEO-Prakhar Image" style="height: 300px; width: 300px;" />
            <p>Prakhar is the CEO of the company. Graduated from Harvard Business School with an International Business degree, he is the vision of the company and his main goal is to spread happiness by helping people find their ideal home. You can contact Prakhar via <a href="mailto:harrypotterfiction@findmyhome.com">email ID </a></p>



        </div>
        <div class="col-md-4">
            <h2>Maanya Baddam</h2>
            <h3>CFO</h3>
            <img src="Images/maanya.jpeg" alt="CFO-Maanya Image" style="height: 300px; width: 300px;" />
            <p>Maanya is the CFO company. Graduated from Wharton Business School with an dual MBA degree in Finance and Operations. Her brain is sharper than a computer and her presence in the team makes any team a success. She is the driving force of all the financial decisions of the company. You can contact Hermoinie via <a href="mailto:hermoiniegrager@mail.uc.edu">email ID</a></p>
        </div>
    </div>
</div>