@page
@model HelpModel
@{
    ViewData["Title"] = "Help - FindMyHome";
}

<br />
<div class="row">
    <div class="col">
        <div class="shadow">
            <div class="container">
                <h1 class="display-2" style="text-align:center"> <b><u> Let   Us  Help   You   Navigate </u></b></h1>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h2 class="card-title"> Selling Your Home </h2>
                <p class="card-text">Before you list, fill in the mandatory details.</p>
            </div>
            <img class="card-img-bottom" src="~/Images/Homepage.jpg" alt="Card image cap">

            <div>
                <img class="card-img-bottom" src="~/Images/AfterClickingSell_Page.JPG" alt="Card image cap">

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h2 class="card-title">Check Availibility</h2>
                <p class="card-text">Before you make a purchase, check for Availibility in the dwellings. (Green ones are available) </p>
            </div>
            <img class="card-img-bottom" src="~/Images/buy.JPG" alt="Card image cap">
        <div>
            <img class="card-img-bottom" src="~/Images/check_Availibility.JPG" alt="Card image cap">
        </div>
    </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h2 class="card-title"> Sales Office Details </h2>
                <p class="card-text">Check The Sales Office Details in case you wish to contact us.</p>
            </div>
            <img class="card-img-bottom" src="~/Images/SalesOfficePage.jpg" alt="Card image cap">

            <div>
            
                <img class="card-img-bottom" src="~/Images/getdetails_salesoffice.JPG" alt="Card image cap">

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h2 class="card-title">Agent Details</h2>
                <p class="card-text">Here we can find the details of agent as well as the dwellings assigned under him/her.</p>
            </div>
            <img class="card-img-bottom" src="~/Images/Agent_Page.JPG" alt="Card image cap">
            <div>
                <img class="card-img-bottom" src="~/Images/Agent_Deatils.JPG" alt="Card image cap">
            </div>
        </div>
    </div>
</div>