@page
@model IndexModel
@{
    ViewData["Title"] = "Home page - FindMyHome";
}

<div class="container">
    <h1 class="display-4" style="text-align: center">Find my home</h1>
    <h3 style="text-align: center"><em>One Step Closer To Your Dream Home</em></h3>
    <br />
</div>


<div class="text-center">
    <img src="/Images/home_Homepage.jpg" alt="Home" style="width:70%">
</div>

<div class="container">
    <div class="border-top">
    </div>
    <div class="text-center pt-2">
        <a class="btn btn-danger btn-lg" href="/Dwellings/Index" role="button" aria-pressed="true" style="padding-left: 2.5rem; padding-right: 2.5rem;">BUY</a>
        <a class="btn btn-danger btn-lg" href="/Dwellings/Create" role="button" aria-pressed="true" style="padding-left: 2.5rem; padding-right: 2.5rem;">SELL</a>
    </div>
    <div>
        Total number of Agents
        <span class="badge">@Model.TotalAgents</span>
    </div>
</div>

