@page
@model IndexModel
@{
    ViewData["Title"] = "Home page - FindMyHome";
}

<div class="container">
    <h1 class="display-4" style="text-align: center">Find my home</h1>
    <h3 style="text-align: center"><em>One Step Closer To Your Dream Home</em></h3>
    <br />
</div>

<div class="container">
    <img src="home_Homepage.jpg" alt="Home" style="width:100%;">
    <div class="centered">
        <a href="/Dwellings/View" title="">BUY</a>
        <a href="/Dwellings/Create" title="">SELL</a>
    </div>
</div>