@page
@model RealEstatePMP.Pages.LoginModel
@{
    ViewData["Title"] = "Login/SignUp - FindMyHome";

}

<div class="container">
    <div class="form-outline mb-4">
        <label class="form-label text-dark font-weight-bold " for="formEmail">Email address</label>
        <input type="email" class="form-control form-control-lg"
               placeholder="Enter an email address" />
    </div>
<div class="form-outline mb-4">
    <label class="form-label text-dark font-weight-bold" for="formPassword">Password</label>
    <input type="password" class="form-control form-control-lg"
           placeholder="Enter password" />
</div>

<div class="d-flex justify-content-between align-items-center">
    <div class="form-check mb-0">
        <input class="form-check-input me-2" type="checkbox" value=""/>
        <label class="form-check-label text-dark font-weight-bold" for="forRememberMe">
            Remember me
        </label>
    </div>
    <a href="#!">Forgot password?</a>
</div>

<div class="text-center text-lg-start mt-4 pt-2">
    <button type="button" class="btn btn-danger btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
        Login
    </button>
    <p class="small fw-bold mt-2 pt-1 mb-0">
        Don't have an account? <a href="#!"
                                  class="link-danger">Register</a>
    </p>
</div>
</div>